#container {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

#headerh1 {
    border: 1px solid rgb(74, 133, 133);
    line-height: 55px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: rgb(232, 240, 240);
    text-align: center;
    background: rgb(6, 121, 121);
    margin-bottom: 100px;   
}

h1{
    color:linear-gradient(to right, rgb(94, 207, 211), rgb(12, 5, 71));
}

#calendar {
    border: 1px solid black;
    height:fit-content;
    width: auto;
    
}

#apptForm {
    background-color:#f8ccbe;
    border: 2px solid #dbcbc6;
    width: 25%;
    padding-left: 40px;
    padding-top: 5px;
}

.input {
    width: 60%;
}

button {
    background: rgb(6, 121, 121);
    border-radius: 25px;
    border:1px solid beige;
    color:beige;
}

:root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-size: 50%;
    background-image: url(../Assets/pic4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}