:root {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-size: 50%;
}

body {
    background-image: url(../images/light-blue.jpg);
    background-repeat: no-repeat;
}


#headerh1 {
    border: 1px solid rgb(74, 133, 133);
    line-height: 55px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: rgb(232, 240, 240);
    text-align: center;
    background: rgb(6, 121, 121);
    margin-bottom: 100px;
    margin-left: 0;
}

.contact {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

h1 {
    margin-block-start: 1em;
    margin-inline-start: 10%;
    font-size: 40px
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

#nail-pic {
    width: 20vw;
    border-radius: 5%;
    padding-top: 12%;
    padding-bottom: 5%;
    padding-right: 2%;
    Margin-left: 19%
}


.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 710px;
    right: 1210px;

}

.contact-information {
    position: relative;
    align-items: flex-start;
    margin-left: 30%;
    width: 50%;
}

.customer-submit {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.field {
    margin-left: 100%;
}

#map {
    height: 350px;
    position: relative;
    width: 500px;
    left: -178px;
    top: -534px;
}

#mailto {
    color: white;
    text-decoration: none;
    border: gray;
    background: gray;
    padding: 5px;
    border-radius: 5px;
}

/* Sections are split into two columns at 992px or smaller */
/* @media screen and (max-width: 992px) {
    .about-me, .projects, .contact-me {
      width: 100%;
      background-color: #772014;
    } */
/* Change the header bankgroud color */
/* header {
      background: #772014;
    } */
/* Change the footer color */
/* footer h2 {
        color: #23bf4a;
      }
  } */

/* Section are stacked on top of each other at 768px or smaller */
/* @media screen and (max-width: 768px) {
    .about-me, .projects, .contact-me {
      width: 100%;
      background-color: #8ac4ff;
    } */
/* Change the header bankgroud color */
/* header {
      background: #8ac4ff;
    } */
/* Change the footer color */
/* footer h2 {
        color: #bf7623;
      }
  } */